<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context = "http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">
   
   <context:annotation-config/>
   
   <bean id="pointBean" class="com.deloitte.pojos.Point" init-method="init" destroy-method="destroy" scope="prototype">
   		<property name="x" value="24"/>
   		<property name="y" value="32"/>
  	</bean>
  	
  	<bean id="helloWorld" class="com.deloitte.pojos.HelloWorld" >
   		<property name="message1" value="Hello World!"/>
   		<property name="message2" value="Hello Second World!"/>
  	</bean>
  	
  	<bean id="helloIndia" class="com.deloitte.pojos.HelloIndia" parent="helloWorld" >
   		<property name="message1" value="Hello India!"/>
   		<property name="message3" value="Namaste India!"/>
  	</bean>
   
   <bean id="textEditorCDI" class="com.deloitte.pojos.TextEditor">
   		<constructor-arg ref="spellChecker"/>
   		<property name="name" value="Text Editor Field"/>
   </bean>
   
    <bean id="textEditorSDI" class="com.deloitte.pojos.TextEditor" >
   		<property name="spellChecker" ref="spellChecker"/>
   		<property name="name" value="Text Editor Field"/>
   	</bean>
   
    <bean id="textEditorAWbN" class="com.deloitte.pojos.TextEditor" autowire="byName">
    	<property name="name" value="Text Editor Field"/>
   	</bean>
   
    <bean id="textEditorAWbT" class="com.deloitte.pojos.TextEditor" autowire="byType">
    	<property name="name" value="Text Editor Field"/>
   	</bean>
   	
   	<bean id="textEditorAWbC" class="com.deloitte.pojos.TextEditor" autowire="constructor">
   			<property name="name" value="Text Editor Field"/>
   	</bean>
   
   <bean id="spellChecker" class="com.deloitte.pojos.SpellChecker"></bean>
   
   
 </beans>